# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


/SIOButton.xcodeproj/project.xcworkspace/xcuserdata/Bill.xcuserdatad/UserInterfaceState.xcuserstate

/SIOButton.xcodeproj/xcuserdata/Bill.xcuserdatad/xcdebugger/
